<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogFilePath" value="C:\FileOrganiserService.txt"/>
    <add key="SchedulerMode" value="daily"/>
    <add key="SchedulerDay" value="Mon"/>
    <add key="SchedulerTime" value="14:00"/>
    <add key="SchedulerInterval" value="5"/>
  </appSettings>
</configuration>