<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogFilePath" value="C:\FileOrganiserService.txt"/>
    <add key="FileOrganiserGroupsFilePath" value="E:\My Creations\Softwares\File Organizer\Build\1.0\FileOrganiserGroups.xml"/>
  </appSettings>
</configuration>